<% if !@picture_hash['picture'].nil? && user_signed_in? && admin? %>
  
  <h1>Modifie les détails de ta photo n°<%= @picture_hash['index'] %></h1>

  <% if !@picture.nil? && @picture.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous n'avons pas réussi à mettre à jour les détails de la photo pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_tag picture_path(@picture_hash['index']), method: "post" do %>

    <input type="hidden" name ="_method" value="put">

    <%= label_tag 'Titre' %>
    <%= text_field_tag 'title', (@picture_hash['picture'].title if !@picture_hash['picture'].title.nil?), size: 150, minlength: 5, maxlength: 140 %>
    <br /> <br />
    
    <%= label_tag 'Description' %>
    <%= text_area_tag 'description', (@picture_hash['picture'].description if !@picture_hash['picture'].description.nil?), size: "25x10", minlength: 20, maxlength: 1000 %>
    <br /> <br />
    
    <%= label_tag 'Prix en euros' %>
    <%= number_field_tag 'price', (@picture_hash['picture'].price if !@picture_hash['picture'].price .nil?), min: 1, max: 1000, step: 1 %>
    <br /> <br />
    
    <%= label_tag 'URL' %>
    <%= text_field_tag 'img_url', (@picture_hash['picture'].img_url if !@picture_hash['picture'].img_url.nil?), size: 550, minlength: 20, maxlength: 500 %>
    <br /> <br />
    
    <%= submit_tag "Enregistrer cette nouvelle version de ta photo" %>

  <% end %>
  
  <BR>
  <div>
    <p>
      <a href="<%= picture_path(@picture_hash['index']) %>" class="btn btn-danger btn-sm" role="button" data-confirm="Es-tu certain de vouloir supprimer définitivement cette photo?" data-method="DELETE">Supprimer cette photo</a>
    </p>
  </div>

<% elsif @picture_hash['picture'].nil? %>

  <div class="alert alert-danger" role="alert">
    <p>Aucune photo de n°<%= @picture_hash['index'] %> n'existe dans la base!</p>
  </div>

<% else %>

  <div class="alert alert-danger" role="alert">
    <p>Tu n'es pas l'admin de ce site : tu n'es donc pas autorisé à modifier les détails de la photo en base!</p>
  </div>

<% end %>
